<script>debugger; var HOST_ADDRESS='<%= hostAddress %>';</script> 
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script> -->
<!-- <script src='http://localhost:1337/js/lib/adapter.js'></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>		 -->
<!-- <script src='http://localhost:1337/js/meeting.js'></script> -->
<!-- <script src='http://localhost:1337/js/room.js'></script> -->
<!-- <link rel="stylesheet" type="text/css" href="http://localhost:1337/css/room.css" media="screen" /> -->


<div class="container">
  <div id="videos">
    <div id="videosWrapper">
      <div id="localVideoWrap" class='videoWrap'>
        <video class="videoBox" id="localVideo" autoplay></video>
      </div>
    </div>
  </div>
</div>



<i id="videoMenu" class="fa fa-hand-stop-o" style="font-size:30px;color:red">Toogle Video</i><br>
<span id="micMenu" class="glyphicon glyphicon-volume-off" style="font-size:30px;color:red">Toogle Mic</span>


